* {
    padding: 0;
    margin: 0;
}
 body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
 }
 .container {
     max-width:1274px;
     margin: 0 auto;
 }

/* sm-btn */
.sm-btn {
    width: 100%;
    background-color: #F4911E;
    max-width: 160px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: .4s all ease;
}
.sm-btn:hover {
    background-color:#EB6E1F;
    color: #fff;
}
/* sm-btn */

/* header start */
header .top-nav {
    background: linear-gradient(90deg, rgba(235,110,31,1) 50%, rgba(0,45,98,1) 50%);
}
header .top-nav .col-left {
     background-color: #EB6E1F;
     position: relative;
     padding: 23px 0;
}
 header .top-nav .col-left ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
header .top-nav .col-left ul li {
     padding-right: 18px;
}
header .top-nav .col-left ul li a {
     text-decoration: none;
     color: #fff;
     font-weight: 700;
}
header .top-nav .col-left ul li:nth-child(1) {
     background-color: #fff;
     width: 100%;
     max-width: 118px;
     margin-right: 18px;
}
header .top-nav .col-left ul li:last-child {
     padding-right: 0;
}
header .top-nav .col-left .call-icon img {
    width: 17px;
    height: 17px;
    vertical-align: sub;
}
header .top-nav .col-left .arrow-down {
    width: 8px;
    margin-bottom: 1px;
}
header .top-nav .col-right {
    padding: 15px 0;
    background-color: #002D62;
}
header .top-nav .col-right .member-login span {
    font-weight:700;
    color: #fff;
    margin-right: 17px;
}
header .top-nav .col-right .member-login .top-nav-form {
    padding:0 15px 0 19px ;
    line-height: 40px;
    border: none;
    max-width: 187px;
}
header .top-nav .col-right .member-login .top-nav-form::placeholder {
    color:#59524F ;
}
header .top-nav .col-right .member-login  {
    padding-left: 99px;
}
header .main-nav ul {
    padding:25px 32px 24px ;
    list-style-type:none ;
    margin: 0;
}
header .main-nav ul li a {
    text-decoration: none;
    color: #59524F;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    transition: .4s all ease;
    padding: 0 9px;
    line-height: 28px;
    display: inline-block;
}
header .main-nav ul li a:hover {
    border:1px solid #F4911E ;
}
header .main-nav ul li a:focus {
    color: #fff;
    background-color: #F4911E;
}
header .main-nav ul li a span img {
    margin-top: -2px;
    margin-left: 2px;
}
header .main-nav ul li a:focus .angle-down {
    filter: brightness(5.5);
}
/* header end */

/* banner start */
.banner {
    height: 455px;
}
/* banner video */
.banner video {
    object-fit: initial;
    height: 455px;
    width: 100%;
}
.banner .container {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    padding-top: 69px;
    z-index: 12;
}
/* banner video */

.banner .col-right {
    background: #002D62;
    opacity: 0.9;
    max-width: 447px;
    color: #fff;
    width: 100%;
    margin-left: 48px;
    padding: 39px 24px 30px 34px;
}
.banner .col-right h1 {
    font-weight: 900;
    font-size: 64px;
    margin-bottom:18px;
    line-height: 65px;
}
.banner .col-right span {
    font-weight: 700;
}
.banner .col-right p {
    margin: 0;
}
/* banner end */

/* services btf1 start */
.services .services-journeyman  {
    position: relative;
    overflow: hidden;
}
.services .services-journeyman img {
    width: 100%;
    max-height: 433px;
    object-fit: cover;
}
.services .services-journeyman:hover .services-overlay::after {
    opacity: 0.5;
}
.services .services-journeyman:hover .services-overlay {
    transform: translateY(0);
}
.services .services-journeyman .services-overlay {
    position: absolute;
    left: 0;
    color: #fff;
    top: 0;
    padding-top: 13px;
    width: 100%;
    height: 100%;
    transform: translatey(65%);
    -webkit-transition:-webkit-transform .4s ease-in-out;transition:-webkit-transform .4s ease-in-out;transition:transform .4s ease-in-out;transition:transform .4s ease-in-out,
}
.services .services-journeyman .services-overlay::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    background: #002D62;
}
.services .services-journeyman .services-overlay span {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 19px;
}
.services .services-journeyman .services-overlay p {
    max-width: 263px;
    margin-bottom: 27px;
}
/* services btf1 end */

/* ibew-members start */
 .ibew-members-bg {
     position: relative;
     background-image: url("../images/ibew-members-bg.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position:center ;
     padding: 55px 0 61px 0;
}
.ibew-members-bg::after {
     content: " ";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     opacity: 0.8;
     height: 100%;
     z-index: 1;
     background-color: #fff;
}
.ibew-members {
     position: relative;
     z-index: 2;
}
.ibew-members .become-member .become-member-content {
     background-color:#002D62 ;
     color: #fff;
     padding: 58px 0 65px;
}
.ibew-members .become-member .become-apprentice {
    background-color:#002D62 ;
    color: #fff;
    padding: 58px 0 65px;
}
.become-member .become-member-content h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 8px;
}
.become-member .become-member-content p {
    max-width: 466px;
    margin-bottom: 20px;
}
.become-member .become-apprentice h2 {
    font-weight: 900;
    margin-bottom: 8px;
    font-size: 48px;
    line-height: 50px;
}
.become-member .become-apprentice p {
    max-width: 466px;
    margin-bottom: 20px;
}

/* ibew-members END */
/* being ibew start */
.being-ibew {
    padding: 55px 0 66px;
}
.being-ibew h3 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.being-ibew .being-ibew-content .item {
    position: relative;
}
.being-ibew .being-ibew-content .item img:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 61px;
    transform: translate(0, -50%);
}
.owl-theme .owl-dots .owl-dot {
    margin: 0 5px;
}
  /* owl theme */
.being-ibew-content .owl-theme .owl-dots .owl-dot span {
        background: transparent;
        border: 4px transparent;
        width: 17px;
        height: 17px;
        outline:3px solid #3D3D3D;
}

.being-ibew-content  .owl-theme .owl-dots .owl-dot.active span {
        background:#F4911E ;
        border:2px solid #FFF ;
        outline:3px solid #F4911E;
}
.being-ibew-content .owl-carousel .owl-nav button.owl-prev {
    background: #3D3D3D;
    position: absolute;
    width: 14px;
    opacity: 1;
    height: 19px;
    left: 41%;
    border-radius: 0 !important;
}
.being-ibew-content .owl-carousel .owl-nav button.owl-next {
    background: #3D3D3D;
    width: 14px;
    height: 19px;
    opacity: 1;
    border-radius:0px !important;
    position: absolute;
    right: 41%;
}
.being-ibew-content .owl-theme .owl-nav [class*=owl-]:hover {
    background: #3D3D3D;
    width: 14px;
    height: 19px;
}
.being-ibew-content .owl-carousel .owl-nav button.owl-prev span {
    display: none;
}
.being-ibew-content .owl-carousel .owl-nav button.owl-next span {
    display: none;
}
.being-ibew-content .owl-carousel .owl-nav button.owl-prev::after {
    content: " ";
    position: absolute;
    background-image: url(../images/being-ibew-ang.svg);
    background-size: cover;
    width: 6px;
    left: 4px;
    top: 5px;
    height: 9px;
}
.being-ibew-content .owl-carousel .owl-nav button.owl-next::after {
    content:" ";
    position: absolute;
    background-image: url("../images/being-ibew-ang.svg");
    background-size: cover;
    transform: rotate(180deg);
    width: 6px;
    left: 4px;
    top: 5px;
    height: 9px;
}
/* owl theme */
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 609px;
    top: 5%;
    max-width: 1147px;
}
  
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: 700;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight:700;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cs-iframe {
      padding-top: 7px;
}
/* modal box */
/* being ibew end */

/* currents member */
.current-members .col-left h2 {
    font-weight: 900;
    font-size: 48px;
    color: #3D3D3D;
    line-height: 65px;
    margin-bottom: 30px;
}
.current-members .col-left p {
    font-size: 16px;
    max-width: 450px;
    line-height: 24px;
    color: #3D3D3D;
}
.current-members .col-right .member-login-ibew {
    cursor: pointer;
    padding: 18px 87px 18px 102px;
    align-items: center;
    display: flex;
    width: 100%;
    text-decoration: none;
    background: #F4911E;
    color: #fff;
    transition: .4s all ease;
}
.ibew-hov-arrow {
    transition: .4s all ease;
}
.current-members .col-right .member-login-ibew:hover .ibew-hov-arrow {
    margin-right: -20px;
}
.current-members .col-right .member-login-ibew:hover {
    background-color: #EB6E1F;
}
.current-members .col-left {
    max-width: 616px;
    width: 100%;
}
.current-member-login .current-member-detail h4 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 9px;
    line-height: 24px;
}
.current-member-login .current-member-detail {
    max-width: 365px;
}
.current-members .col-right a > img {
    max-width: 26px;
}
.current-member-login {
    margin-left: 40px;
    width: 100%;
}
.member-login-ibew {
    margin-bottom: 8px;
}
.current-member-login .current-member-detail p {
    margin-bottom: 0;
}
.current-member-login img {
    max-width: 14px;
}
.current-members .col-right .job-calls > img {
    max-width: 36px;
}
.current-members .col-right .pay-dues > img {
    max-width: 41px;
}
.current-members .col-right .pay-dues  {
    margin-bottom: 0px;
}
/* current members end */
 
/* contracting start*/
.contracting {
    background-color: #002D62;
}
.contracting .col-left {
    background-color: #002D62;
    color: #fff;
    padding: 57px 97px 56px 103px;
}
.contracting .col-left h2 {
    font-weight: 900;
    color: #FFF;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 15px;
}
.contracting .col-left p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}
.contracting .col-left p:nth-child(2) {
    margin-bottom: 25px;
}
.contracting .col-left span {
    font-weight:700;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 10px;
}
.contracting .col-left ul {
    padding-left: 19px;
    margin-bottom: 25px;
}
.contracting .col-left ul li a {
    text-decoration: none;
    color: #fff;
}
.contracting .col-left ul li a:hover {
    text-decoration: underline;
}
.contracting .col-right .title {
    font-weight: 900;
    font-size: 32px;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 40px;
    bottom: 56px;
    color: #fff;
}
.contracting .col-right {
    position: relative;
}
/* contractind end */

/* contact us start */
.contact-us {
    padding: 84px 0 83px;
    background-image:url("../images/contact-us-bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-us .col-left h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    color: #3D3D3D;
    margin-bottom: 21px;
}
.contact-us .col-left p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 21px;
    padding-right: 50px;
    color: #3D3D3D;
}
.contact-us .col-left .contact-us-detail {
    background-color: #002D62;
    max-width: 462px;
    padding: 27px 31px 25px;
    width: 100%;
}
.contact-us .col-left .contact-us-detail ul {
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
    padding-bottom: 11px;
}
.contact-us .col-left .contact-us-detail ul li a {
    color: #fff;
    text-decoration: none;
}
.contact-us .col-left .contact-us-detail ul li span {
    font-weight: 700;
    margin-right: 5px;
}
.contact-us .col-left .contact-us-detail ul .location {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    max-width: 208px;
}
.contact-us .col-left .contact-us-detail ul .location span {
    display: block;
    margin-bottom: 3px;
}
.contact-us .col-right label {
    padding:0 21px 9px 21px;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
.contact-us .col-right .form-control {
    max-width: 285px;
    border: 1px solid #9CA9B2;
    border-radius:0 !important;
    line-height: 40px;
    padding: 0 20px 0;
    color: #3D3D3D;
}
.text-area-contactus textarea {
    resize: none;
    max-width: 590px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #9CA9B2;
    padding: 9px 20px;
    outline: none;
}
.text-area-contactus textarea:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.contact-us .col-right {
    max-width: 584px;
    width: 100%;
}
.contact-us .col-right .sm-btn {
    margin-left: auto;
    margin-top: 24px;
    outline: none;
    margin-right: 9px;
    border: none;
}
/* contact us end */

/* footer start */
footer {
    padding: 45px 0 26px;
    background-image: url("../images/footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff !important;
    background-position: center;
}
.copyright {
    padding: 25px 0 27px;
    background-color: #EB6E1F;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}
.copyright a {
    color: #fff;
    text-decoration: none;
}
.copyright a:hover {
    border-bottom: 1px solid #fff;
}
footer .footer-list li {
    margin-bottom: 22px;
}
footer .footer-list li a {
    color: #fff !important;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 22px;
    font-weight: 500;
    text-decoration: none;
}
footer .footer-list li a:hover {
    border-bottom: 1px solid #fff;
}
footer .footer-list-heading {
    font-weight:700;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
}
footer .footer-logo {
    margin-bottom: 45px;
}
footer .footer-logo a img {
    max-width: 127px;
}
footer .footer-logo span a {
    font-weight: 900;
    font-size: 64px;
    text-decoration: none;
    color: #fff;
    margin-left: 31px;
    line-height: 65px;
}
footer .footer-contact-us h5 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
    font-weight: 700;
}
footer .footer-contact-us .contact-us-detail ul li {
    margin-bottom: 6px;
}
footer .footer-contact-us .contact-us-detail ul li a {
    font-size: 16px;
}
footer .footer-contact-us .contact-us-detail .location span {
    display: block;
    margin-bottom: 3px;
}
footer .footer-contact-us .contact-us-detail .location {
    padding-bottom: 22px;
    margin:0 72px 22px 0;
    border-bottom: 1px solid #fff;
}
/* footer end */

/* mega menu */
header .main-nav li:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}
header .main-nav li .mega-menu {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    top: 125px;
    padding-top: 18px;
    z-index: 111;
    visibility: hidden;
    opacity: 0;
}
.become-member-menu {
    margin-left: 11% !important;
    padding-left: 41px !important;
}
.become-member-menu li {
    margin-bottom: 7px;
}
.ibew-menu {
    max-width: 376px;
    padding: 25px 0 32px !important;
    width: 100%;
}
.ibew-menu li {
    margin-bottom: 7px;
}
.expertise-menu {
    margin-left: 54% !important;
    padding: 25px 0 32px !important;
    width: 100%;
}
.expertise-menu li {
    margin-bottom: 7px;
}
.about-ibew-menu {    
    margin-left: 69% !important;
    padding: 25px 8px 32px !important;
    width: 100%;
}
.about-ibew-menu li {
    margin-bottom: 7px;
}
header .angle-down {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
header .main-nav ul li:hover .angle-down {
    transform: rotate( 180deg);
}
/* mega menu */

/* mobile-menu */
.rmm { 
    margin-left: auto;
}
.rmm ul { 
    margin: 0; 
    padding:0; 
    list-style: none; 
    position: absolute; 
    z-index: 1; 
    padding-top:18px; 
    left: 0; 
    right: 0;
    width: 100%; 
    top: 85px; 
    height: 91vh; 
    background: #ffffff;
}
.rmm ul:after {
    content: ""; 
    clear: both; 
    display: block;
}
.rmm ul li {
    float: left;
}
.rmm ul li:hover {
    background: #202020;
}
.rmm ul li:hover > ul {
    display: block;
}
.rmm ul li:hover a{
    color: #fff;
}
.rmm ul li a {
    color: #fff;
    display: block; 
    text-decoration: none;
}
.rmm ul ul {
    display: none; 
    margin:0; 
    padding: 0; 
    position: absolute; 
    top: 100%;
}
.rmm ul ul li {
    float: none; 
    position: relative;
}
.rmm ul ul li a{
    color: #fff;
}
.rmm ul ul li a:hover {
    background: #202020;
}
.rmm ul ul ul {
    position: absolute; 
    left: 100%; 
    top:0; 
    width: 100%;
}
/* mobile menu header button */
.rmm-toggled {
    display: none;
}
.rmm-closed ~ .rmm-mobile { 
    display: none!important;
}
.rmm-toggled-controls {
    width: 100%;
}
.rmm-toggled-title {
    width: 60%; 
    float: left; 
    font-size: 27px; 
    color: #fff;
    font-weight:600; 
    display: block; 
    padding: 8px 0;
    text-decoration: none; 
    text-transform: uppercase;
    text-align: left; 
    padding-left: 35px;
}
.rmm-toggled-button { 
    display:block;
    width: 27px;
    height: 27px;
}
.rmm-toggled-button span {
    float: left;
    display:block;
    margin: 3px 0;
    height: 2px;
    background:#4B535D;
    width:21px;
}
.rmm-mobile .rmm-back{ 
    display: block;
}
/* mobile menu list */
.rmm-mobile{
    width: 100%;
}
.rmm-mobile .rmm-dropdown:hover ~ ul, .rmm-mobile .rmm-dropdown:hover > ul ,.rmm-mobile .rmm-dropdown:hover + ul {
    display: none!important;
}
.rmm-mobile ul {
    width: 100%;
    position: inherit!important;
}
.rmm-mobile li {
    width: 100%; 
}
/* mobile menu js action */
.rmm-dropdown {
    display: block!important;
}
.rmm-mobile .rmm-subview {
    display: block!important; 
    width: 100%;
}
.rmm-mobile .rmm-subover-hidden {
    display: none!important;
}
.rmm-mobile .rmm-subover-visible { 
    display: block;
}
.rmm-mobile .rmm-subover-header { 
    display: none!important; 
    padding: 0; 
    margin: 0;
}
/* mobile menu content */
.rmm-mobile .rmm-submenu { 
    position: relative; 
    left: 0px;
}
.rmm .rmm-mobile li:hover > ul {
    display: none;
}
/* arrow down for wide screen */
.rmm.style ul li {
    text-align:left;
}
.rmm.style ul li:hover {
    background: #F6F7F9;
}
.rmm.style ul ul {
    display: none;
    margin:0; 
    background: #ffff; 
    border-radius: 0px; 
    padding: 0; 
    position: absolute;
}
.rmm.style ul li a {
    color:#4B535D; 
    display: block; 
    padding: 14px 44px 17px;
    text-decoration: none; 
    position: relative;
}
.rmm.style ul ul li {
    border-bottom:none;
    border-top:none;
}
.rmm.style ul ul li a {
    padding: 12px 44px; 
    color:#4B535D; 
    border-bottom:none;
    border-top:none;
}
.rmm.style ul ul li a:hover {
    background: #F6F7F9 ; 
}
/* arrow down for wide screen */
.rmm {
    width: auto !important;
}
.rmm-back a {
    font-size: 16px !important;
    text-transform: capitalize;
    position: relative;
    padding-left: 35px !important;
}
/* arrow left for wide screen submenus  */
.rmm.style ul ul li > a:not(:only-child):after {
    -webkit-transform: rotate(120deg)!important; 
    transform: rotate(120deg)!important; 
    top: 2px; 
    font-size: 14px; 
    float: right;
     margin-right: -20px;
}
/* mobile style */
.rmm.style .rmm-mobile li {
    background: #fff; 
    border-bottom:none ; 
    border-top: 0; 
}
.contact-hov {
    position: relative;
}
/*body class*/
.mobile-menu-active {
    overflow: hidden;
}
.mobile-menu-active .rmm-toggled-button span:nth-child(2) {
    opacity: 0;
}
.rmm-toggled-button {
    position: relative;
}
.mobile-menu-active .rmm-toggled-button span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
    top: 5px;
    display: block;
        -webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,
    -webkit-transform .3s ease-in-out;
}
.mobile-menu-active .rmm-toggled-button span:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
    top: 5px;
        -webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,
    -webkit-transform .3s ease-in-out;
}
/* rmm css */
.rmm-toggled-controls {
    width: 100%;
    background: #EB6E1F;
    padding: 14px 15px 12px;
}
.rmm-toggled-button {
    display: block;
    width: 20px;
    height: 24px;
}
.rmm-toggled-button span {
    float: left;
    display: block;
    margin: 0px 0 6px;
    height: 4px;
    background: #ffffff;
    width: 30px;
}
.mobile-menu-active .rmm-toggled-button span:nth-child(3) {
    top: 9px;
}
.mobile-menu-active .rmm-toggled-button span:nth-child(1) {
    top: 9px;
}
.rmm ul {
    z-index: 5;
    padding-top: 0;
    padding: 29px 0;
    top: 50px;
    background-color: #F4911E;
    height: auto;
}
.rmm-mobile > li > a  {
    padding-left:35px !important;
}
.rmm-mobile .rmm-subview li {
    padding-left: 35px !important;
}
.mobile-menu-active::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #7E7E7E;
    opacity: 0.5;
}
.rmm {
    position: relative;
    z-index: 55;
}
.rmm.style .rmm-mobile li {
    background: unset;
}
.rmm.style .rmm-mobile li a {
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}
.rmm.style .rmm-mobile li a {
    background: #F4911E;
    color: #FFF;
    display: inline-block ;
    padding: 0;
}
.rmm.style .rmm-mobile li {
    padding: 0  0 22px 0 ;
    background: #F4911E;
}
.rmm.style ul li:hover {
    background: #F4911E;
}
.rmm.style ul ul li a:hover {
    background: #F4911E;
}
.rmm-subview > li:nth-child(1) > a:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    display: block !important;
    line-height: 24px;
    position: relative;
    padding-left: 42px !important;
}
.rmm-subview > li:nth-child(1) > a:nth-child(1)::before {
    content: " ";
    position: absolute;
    width: 44px;
    left: -1px;
    top: -10px;
    height: 37px;
    background-size: cover;
    background-image: url(../images/back-icon.png);
}
.rmm-subview > li:nth-child(1) > a:nth-child(1)::after {
    content: " ";
    position: absolute;
    width: 13px;
    left: 29px;
    top: -5px;
    height: 37px;
    background-color: #F4911E;
}
.rmm.style ul ul{
    background-color: #F4911E;
}
.rmm-subview > li:nth-child(1) {
    border-bottom: 1px solid #EB6E1F !important;
    margin-bottom: 22px !important;
}
.mm-links::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 11px;
    margin-left: 8px;
    top: 6px;
    background-image: url("../images/mm-links-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.mm-num {
    position: relative;
    margin-left: 25px;
}
.mm-num::before {
    content: " ";
    position: absolute;
    width: 18px;
    left: 10px;
    height: 18px;
    top: 3px;
    background-image: url(../images/mm-num-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.mm-member-login {
    position: absolute;
    background: #002D62;
    bottom: -154px;
    display: flex;
    padding: 38px 14px 37px 16px;
    width: 100%;
    flex-direction: column;
}
.mm-member-login span {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    display: block;
    margin-bottom: 14px;
}
.mm-member-login .mm-login input {
    max-width: 250px;
    width: 100%;
    color: #59524F;
    font-size: 16px;
    padding: 8px 10px 10px 20px;
    line-height: 19px;
}
.mm-member-login .mm-login input:nth-child(1) {
    margin-right: 10px;
}
.mm-member-login .mm-login button {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    line-height: 24px;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 8px;
    margin-left: 10px;
}
.rmm-mobile .rmm-subview li a:hover {
    padding: 3px 11px;
    color: #F4911E;
    background-color: #fff !important;
}
.contact-us-mm {
    margin-bottom: 38px;
}
.contact-us-mm::after {
    content: " ";
    position: absolute;
    width: 156px;
    left: 35px;
    bottom: -30px;
    height: 1px;
    background-color: #fff;

}
@media (max-width:632px ){
    .mm-member-login .mm-login button {
        margin-top: 16px;
        margin-left: 0;
    }
    .mm-member-login {
        bottom: -206px;    
    }
    .mm-member-login .mm-login input {
        max-width: 260px;
    }
}
@media (max-width:565px ){
    .mm-member-login span {
        margin-bottom: 17px;
    }
    .mm-member-login {
        bottom: -212px;
    }
    .mm-member-login .mm-login button {
        margin-left: 15px;
    }    
}
@media (max-width:381px ){
    .mm-member-login .mm-login input {
        max-width: 100%;
    }
    .mm-member-login .mm-login button {
        margin-left: 0px;
    }
    .mm-member-login .mm-login input:nth-child(1) {
        margin-bottom: 17px;
    }
    .mm-member-login {
        bottom: -265px;
    }
    .mm-member-login .mm-login button {
        padding: 4px 8px;
    }
}
/* monile-menu */

/* contact-page-----------------------------------------subpage------------- */
.contact-page-banner {
    position: relative;
    background-image: url("../images/contact-page-banner.png");
    background-size: cover;
    background-position: center;
    padding: 60px 0 61px 0px;
}
.contact-page-banner::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/banner-bg-contact.png");
    background-size: cover;
    top: 0;
}
.contact-page-banner .banner-content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
.contact-page-banner .banner-content .logo img {
    max-width: 222px;
}
.contact-page-banner .banner-content .title h1 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 64px;
    margin-left: 21px;
    line-height: 65px;
    color: #fff;
}
/* contact-page -----------------------------------------sub-page--------*-/

/* pay-dues----------------------------------------------sub-page--------- */
/* banner */
.pay-dues-banner{
    position: relative;
    background-image: url("../images/contact-page-banner.png");
    background-size: cover;
    background-position: center;
    padding: 60px 0 61px 0px;
}
.pay-dues-banner::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/banner-bg-contact.png");
    background-size: cover;
    top: 0;
}
.pay-dues-banner .banner-content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
.pay-dues-banner .banner-content .logo a {
    display: inline-block;
}
.pay-dues-banner .banner-content .logo img {
    max-width: 222px;
}
.pay-dues-banner .banner-content .title h1 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 64px;
    margin-left: 21px;
    line-height: 65px;
    color: #fff;
}
/* banner */
/* pay online */
.pay-online .container {
    border-bottom: 1px solid #A9A9A9;
    padding: 56px 0 75px;
    overflow-x: hidden;
}
.pay-online .content h2 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #3D3D3D;
    margin-bottom: 24px;
}
.pay-online .content span {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    display: block;
    margin-bottom: 26px;
}
.pay-online .content .link {
    margin-bottom: 26px;
}
.pay-online .content .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    max-width: 303px;
    margin-right: auto;
    margin-bottom: 26px;
}
.pay-online .content .link a {
    display: inline-block;
}
.pay-online .content .link a img {
    max-width: 142px;
}
.pay-online .sm-btn {
    max-width: 304px;
    font-family: Work Sans;
    font-size: 16px;
    margin: 0 auto;
    line-height: 42px;
}
/* pay online */
/*pay-dues subpage notice-dues */
.notice-dues {
    padding: 64px 0 143px;
}
/* .notice-dues .content {
    padding-right: 90px;
} */
.notice-dues .content h2:first-child {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    color: #3D3D3D;
    margin-bottom: 30px;
}
.notice-dues .content .monthly-dues span:first-child {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 17px;
    color: #3D3D3D;
}
.notice-dues .content .monthly-dues p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
    color: #3D3D3D;
}
.notice-dues .content .address-num {
    padding-right: 47px;
}
.notice-dues .content .address-num .mail-num {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 22px;
    color: #3D3D3D;
}
.notice-dues .content .address-num ul {
    padding: 0;
    list-style: none;
    margin-bottom: 26px;
}
.notice-dues .content .address-num ul li a {
    color: #3D3D3D;
    text-decoration:none;
}
.notice-dues .content .address-num {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}
.notice-dues .content .address-num p {
    margin-bottom: 23px;
}
.notice-dues .content .address-num p span {
    text-decoration: underline;
    font-weight: 400;
}
/*pay-dues subpage notice-dues */
/* pay-dues----------------------------------------------sub-page--------- */

/* journeyman-job-calls----------------------------------sub-page--------- */
/* banner */
.journeyman-job-call-banner {
    position: relative;
    background-image: url("../images/contact-page-banner.png");
    background-size: cover;
    background-position: center;
    padding: 60px 0 61px 0px;
}
.journeyman-job-call-banner::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/banner-bg-contact.png");
    background-size: cover;
    top: 0;
}
.journeyman-job-call-banner .banner-content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
.journeyman-job-call-banner .banner-content .logo a {
    display: inline-block;
}
.journeyman-job-call-banner .banner-content .logo img {
    max-width: 222px;
}
.journeyman-job-call-banner .banner-content .title h1 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 64px;
    margin-left: 21px;
    line-height: 65px;
    color: #fff;
}
/* banner */
/* JOURNEYMAN-JOB-CALLS-INFORMATION */
.journeyman-job-call-information {
    padding: 77px 0 80px;
}
.journeyman-job-call-information .main h2 {
    margin-bottom: 30px;
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 54px;
    color: #3D3D3D;
}
.journeyman-job-call-information .main ul {
    list-style-type: none;
    padding: 0;
}
.journeyman-job-call-information .main ul li {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}
.journeyman-job-call-information .main ul li h5 {
    font-weight: 700;
}
.journeyman-job-call-information .main ul li a {
    color: #3D3D3D;
    word-break: break-word;
}
.journeyman-job-call-information .main ul li span {
    text-decoration: underline;
}
/* JOURNEYMAN-JOB-CALLS-INFORMATION end */
/* journeyman job call accordion */
    .journeyman-job-calls-accordion .journeyman-call-accordion {
        max-width: 952px;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-item {
        border: none;
        margin-bottom: 8px;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-item .accordion-body {
        padding:49px 34px 50px 34px;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 16px;
        line-height: 48px;
        padding: 0 30px;
        color: #fff;
        font-weight: 700;
        text-align: left;
        background-color: #F4911E;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-button:focus {
        z-index: 3;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(221 165 29 / 25%);
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion  .accordion-button::after {
        width: 18px;
        height: 11px;
        margin-left: auto;
        content: "";
        background-image: url("../images/arrow-down.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform .2s ease-in-out;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-body .first-accordion-Dec {
        list-style-type: none;
        padding: 0;
        padding-right: 24px;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-body .first-accordion-Dec h4 {
        margin-bottom: 0;
        font-size: 24px;
        color: #3D3D3D;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-body .first-accordion-Dec li ul {
        list-style-type: none;
        padding: 0;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-body .first-accordion-Dec li { 
        font-family: Work Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #3D3D3D;
    }
/* journeyman job call accordion  end*/
/* journeyman-job-calls----------------------------------sub-page--------- */

/* sub-page bannerr -------------------------------banner*/
.sp-banner {
    position: relative;
    padding: 60px 0 61px 0px;
}
.sp-banner::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/banner-bg-contact.png");
    background-size: cover;
    top: 0;
}
.sp-banner .banner-content {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
.sp-banner .banner-content .logo a {
    display: inline-block;
}
.sp-banner .banner-content .logo img {
    max-width: 222px;
}
.sp-banner .banner-content .title h1 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 64px;
    margin-left: 21px;
    line-height: 65px;
    color: #fff;
}
/* sub-page bannerr----------------------banner*/

/* become a member sub-page----------------------------------sub-page */
/* banner */
.become-member-banner {
    background-image:url("../images/become-member-bannerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}
/* become member join  */
.become-member-join {
    overflow-x: hidden;
    padding: 90px 0 100px;
}
.become-member-join .col-left {
    max-width: 588px;
    margin-right: 17px;
}
.become-member-join .col-left h2 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px; 
    margin-bottom: 22px;
    color: #3D3D3D;
}
.become-member-join .col-left p {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    margin-bottom:24px;
}
.become-member-join .col-left p:nth-child(3) {
    margin-bottom: 0;
}
.become-member-join .col-right {
    margin-top: 72px;
    background-color: #002D62;
    color: #fff;
    padding: 46px 102px 45px 73px;
}
.become-member-join .col-right p {
    font-family: Work Sans;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
/* become member join  */
/* become-member-best */
.become-member-best .col-right {
    margin-left: 25px;
}
.become-member-best .col-right {
    max-width: 853px;
    width: 100%;
}
.become-member-best .col-left {
    max-width: 347px;
    margin-right: 112px;
    margin-top: 73px;
}
.become-member-best .col-left h3 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #3D3D3D;
}
.become-member-best .col-left p {
    font-family: Work Sans;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #3D3D3D;
}
.become-member-best {
    margin-bottom: 89px;
}
/* become-member-best */
/* brotherhood benefit */
.brotherhood-benefit {
    padding: 62px 0 64px;
    background-image: url("../images/brother-hood-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    position: relative;
}
.brotherhood-benefit::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/blue-layer.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.brotherhood-benefit .container {
    position: relative;
    z-index: 2;
}
.brotherhood-benefit h2 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 25px;
    color: #FFFFFF;
}
.brotherhood-benefit ul li {
    font-family: Work Sans;
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.brotherhood-benefit .col-right ul {
    padding-left: 20px;
}
.brotherhood-benefit .col-right h4 {
    margin-bottom: 9px;
    font-family: Work Sans;
    font-weight:700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    }
/* brother hood benefit */
/* become a member sub-page --------------------------sub-page*/

/* become an apprentice job-calls */
/* banner */
.become-apprentice-banner {
    background-image:url("../images/apprentice-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}
/* apprentice-requirements */
.apprentice-requirment {
    padding: 40px 0 69px;
    background-image: url("../images/brother-hood-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    position: relative;
}
.apprentice-requirment::after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/blue-layer.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}
.apprentice-requirment .container {
    position: relative;
    z-index: 2;
}
.apprentice-requirment h4 {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.apprentice-requirment ul {
    padding-left: 56px;
}
.apprentice-requirment ul li {
    font-family: Work Sans;
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.apprentice-requirment ul li:last-child {
    margin-bottom: 0;
}
.apprentice-requirment .col-right {
    padding-right: 39px;
}
/* jatc-training */
.Jatc-training { 
    overflow-x: hidden;
    padding: 66px 0 55px;
}
.Jatc-training .col-left p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    margin-bottom: 24px;
}
.Jatc-training .col-left p:nth-child(3) {
    margin-bottom: 15px;
}
.Jatc-training .col-right {
    margin-top: 126px;
    background-color: #002D62;
    margin-left: 75px;
    color: #fff;
    padding: 49px 85px 45px 74px;
}
.Jatc-training .col-left h2 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 22px;
    color: #3D3D3D;
}
.Jatc-training .col-left span {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
}
.Jatc-training .col-left {
    max-width: 587px;
    margin-right: 18px;
}
.Jatc-training .col-right span {
    font-family: Work Sans;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0 42px;
    display: inline-block;
}
/* being apprentice */
.being-apprentice {
    margin-bottom: 78px;
}
.being-apprentice .col-left h3 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #3D3D3D;
}
.being-apprentice .col-left p {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #3D3D3D;
}
.being-apprentice .col-left {
    max-width: 417px;
    margin-right: 43px;
    margin-top: 47px;
}
.being-apprentice .col-right {
    max-width: 866px;
    width: 100%;
}
/* apprentice-facts */
.apprentice-facts {
    background-color:#EB6E1F;
    color: #fff;
    padding: 33px 0 48px;
}
.apprentice-facts .content h6 {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.apprentice-facts .content p {
    font-family: Work Sans;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
/* hear-apprentice */
.hear-apprentice {
    padding:72px 0 83px ;
}
.hear-apprentice h2 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 42px;
    color: #3D3D3D; 
}
/* become an apprentice job-calls end */

/* journeyman */
.journeyman-banner {
    background-image:url("../images/journeyman-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}
.journeyman-industry {
    padding: 90px 0 60px;
}
.journeyman-industry h2 {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 23px;
    color: #3D3D3D;
}
.journeyman-industry p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #3D3D3D;
}
.journeyman-industry p:nth-child(2) {
    margin-bottom: 25px;
}
/* being-journeyman */
.being-journeyman .container h2:nth-child(1) {
    font-family: Work Sans;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    color: #3D3D3D;
    margin-bottom: 21px;
}
.being-journeyman p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    margin-bottom:0;
}
.being-journeyman .col-left p {
    padding-right: 34px;
}
/* journeyman-sp */

/*          */
   /*    */
     /**/
   /*    */
/*          */


/* media queries */

@media (max-width:1650px){
    .become-member-best .col-left {
        margin-right: 130px;
    }
    .being-apprentice .col-left {
        margin-right: 66px;
    }
}

@media (max-width:1456px){
    .contracting .col-left {
        padding: 57px 35px 56px 60px;
    }
    .contracting .col-left h2 br {
        display: none;
    }
    .become-member-best .col-left {
        margin-right: 146px;
    }
    .being-apprentice .col-left {
        margin-right: 80px;
    }
    .Jatc-training .col-right {
        padding: 49px 78px 45px 74px;
    }    
}

@media (max-width:1315px){
    header .top-nav .col-right .member-login {
        padding-left: 60px;
    }
    header .top-nav .col-left ul li {
        padding-right: 23px;
    }
    .services .services-journeyman .services-overlay {
        transform: translatey(67%);
    }
    .become-member .become-apprentice h2 {
        font-size: 45px;
    }
    .become-member .become-member-content h2 {
        font-size: 45px;
    }
    .current-members .col-right .member-login-ibew {
        padding: 18px 38px 18px 59px;
    }
    .current-members .col-left {
        padding-left: 15px;
    }
    .contracting .col-left {
        padding: 31px 40px 56px 32px;
    }
    .become-member-menu {
        padding-left: 32px !important;
    }
    .about-ibew-menu {    
        padding: 25px 0px 32px !important;
    }
    .become-member-best .col-left {
        margin-right: 159px;
        margin-left: 15px;
    }
    .Jatc-training .col-left {
        margin-right: 18px;
        padding: 0 0 0 20px;
    }
    .being-apprentice .col-left {
        padding-left: 10px;
    }
}

@media (max-width: 1199.98px) {    
     .about-ibew-menu {    
        margin-left: 68% !important;
    }
    .expertise-menu {
        margin-left: 53% !important;
    }
    .ibew-menu {
        max-width: 355px;
    }
    header .top-nav .col-left ul {
        flex-wrap: wrap;
    }
    header .top-nav .col-left ul li {
        padding-right: 14px;
    }
    header .top-nav .col-left ul li a {
        font-size: 15px;
    }
    header .top-nav .col-right .member-login {
        padding-left: 30px;
    }
    header .top-nav .col-right .member-login .top-nav-form {
        padding: 0 10px 0 10px ;
    }
    header .top-nav .col-right .member-login .top-nav-form {
        padding: 0 15px 0 19px;
        line-height: 39px;
        max-width: 167px;
    }
    .services .services-journeyman .services-overlay {
        transform: translatey(70%);
    }
    .become-member .become-member-content h2 {
        font-size: 42px;
    }
    .become-member .become-apprentice h2 {
        font-size: 42px;
    }
    .current-member-login {
        margin-left: 30px;
    }
    .current-members .col-right .member-login-ibew {
        padding: 18px 38px 18px 38px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 40%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 40%;
    }
    .services .services-journeyman .services-overlay p {
        margin-bottom: 20px;
    }
    .contracting .col-right .title {
        font-weight: 900;
        font-size: 29px;
    }
    .contracting .col-left p:nth-child(2) {
        margin-bottom: 15px;
    }
    .contracting .col-left h2 {
        font-size: 45px;
    }
    .banner .col-right h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    .being-ibew-content .owl-carousel .owl-nav.disabled {
        display: block !important;
    }
    .being-ibew-content .owl-carousel .owl-nav {
        position: relative;
    }
    .become-member-menu {
        padding-left: 28px !important;
    }
    /*pay-dues subpage notice-dues */
    .notice-dues .content .monthly-dues p br {
        display: none;
    }
    .notice-dues .content .address-num {
        padding-right: 0;
    }
    /*pay-dues subpage notice-dues */
    .become-member-best .col-left {
        margin-right: 28px;
        margin-left: 15px;
        margin-top: 77px;
        max-width: 100%;
    }
    .become-member-join {
        overflow-x: hidden;
        padding: 75px 0 50px;
    }
    .become-member-best {
        margin-bottom: 50px;
    }
    .Jatc-training .col-left h2 {
        font-size: 44px;
    }
    .Jatc-training .col-left {
        margin-right: 0px;
        padding: 0 0 0 20px;
    }
    .Jatc-training .col-right {
        padding: 49px 24px 45px 35px;
        margin-top: 140px;
        margin-left: 15px;
    }
    .Jatc-training {
        padding: 66px 0 45px;
    }
    .hear-apprentice .video iframe {
            border: 0;
            height: 480px;
    }
}

@media (max-width: 1024px) { 
    .about-ibew-menu {    
        margin-left: 67% !important;
    }
    .ibew-menu {
        max-width: 339px;
    }
    header .top-nav .col-right .member-login .member-form {
        flex-direction: column;
    }
    header .top-nav .col-left ul li:nth-child(1) {
        background-color: #fff;
        width: 100%;
        max-width: 500px;
        margin-right: 18px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 39%;
        top: -1px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left:39%;
        top: -1px;
    }
    .contracting .col-left h2 {
        line-height: 56px;
    }
    header .top-nav .col-right .member-login .top-nav-form {
        line-height: 30px;
        max-width: 207px;
    }
    header .top-nav .col-right .member-login .top-nav-form:nth-child(1) {
        margin-bottom: 10px;
    }
    header .top-nav .col-right .member-login span {
        width: 100%;
        text-align: center;
    }
    header .main-nav li .mega-menu {
        top: 155px !important;
    }
    .become-member-menu {
        margin-left: 10% !important;
    }
    .being-apprentice .col-left {
        max-width: 417px;
        margin-right: 20px;
        margin-top: 25px;
    }
    .being-apprentice {
        margin-bottom: 55px;
    }    
    .being-apprentice .col-right iframe {
        height: 396px;
    }
    .apprentice-requirment .col-right {
        padding-right: 0px;
        padding-left: 20px;
    }
    .apprentice-requirment ul {
        padding-left: 40px;
    }
    .apprentice-requirment ul li {
        margin-bottom: 22px;
    }
    .hear-apprentice .video iframe {
        border: 0;
        height: 473px;
    }
 }
 @media (max-width: 991px) { 
    .about-ibew-menu {
        margin-left: 68% !important;
    }
    header .main-nav ul {
        padding: 20px 0px 20px;
        list-style-type: none;
        margin: 0;
    }
    header .main-nav ul li a {
        font-size: 14px;
    }
    header .top-nav .col-left {
        background-color: #EB6E1F;
        padding: 26px 0;
    }
    .banner .col-right h1 {
        font-size: 55px;
        margin-bottom: 5px;
        line-height: 61px;
    }
    .banner .col-right {
        padding: 35px 24px 30px 25px;
    }
    .ibew-members .become-member .become-member-content {
        padding: 58px 6px 65px;
    }
    .become-member .become-member-content h2 {
        font-size: 30px;
    }
    .become-member .become-apprentice h2 {
        font-size: 30px;
    }
    .current-members .col-left h2 {
        font-size: 37px;
        line-height: 45px;
        margin-bottom: 25px;
    }
    .current-members .col-right .member-login-ibew {
        padding: 18px 26px 18px 23px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 37%;
    }    
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 37%;
    }
    .contracting .col-left {
        padding: 31px 20px 45px 33px;
    }
    .contact-us .col-left h2 {
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 13px;
    }
    .contact-us .col-left p {
        padding-right: 0px;
    }
    .services .services-journeyman .services-overlay {
        transform: translatey(73%);
    }
    header .main-nav li .mega-menu {
        top: 150px !important;
    }
    .become-member-menu {
        margin-left: 9% !important;
        padding-left: 19px !important;
    }
    .ibew-menu {
        max-width: 310px;
    }
    .modal-content {
        height: 525px;
        top: 9%;
    }
    .cs-iframe {
        height: 515px;
    }
      /*notice-dues */
      .pay-dues-banner .banner-content .title h1 {
        font-size: 50px;
    }
    /*pay-dues subpage notice-dues */
    /* journeyman job-calls banner h1 */
    .journeyman-job-call-banner .banner-content .title h1 {
        font-size: 44px;
    }
    /* journeyman job-calls banner h1 */
    /* journeyman-job-calls-accordion */
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-body .first-accordion-Dec {
        padding-right: 0;
    }
    /* journeyman-job-calls-accordion end */
    
    /*subpage-banner  */
    .sp-banner .banner-content .title h1 {
        font-size: 44px;
    }  
    /*subpage-banner  */
    .become-member-join {
        overflow-x: hidden;
        padding: 70px 0 60px;
    }
    .become-member-best .col-right {
        margin-left: 0;
    }
    .become-member-best .col-left {
        margin-top: 55px;
    }
    .become-member-best .col-right .iframe-vid {
        height: 400px;
    }
    .brotherhood-benefit .col-right {
        padding: 10px 0px 0px 20px;
    }
    .brotherhood-benefit .col-right ul{
        padding-left: 15px;
    }
    .Jatc-training .col-left h2 {
        line-height: 41px;
        font-size: 35px;
    }
    .Jatc-training .col-right {
        padding: 49px 5px 45px 20px;
        margin-top: 113px;
        margin-left: 0px;
    }
    .being-apprentice .col-left h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .being-apprentice .col-right iframe {
        height: 370px;
    }
    .become-member-join .col-right {
        padding: 46px 74px 45px 59px;
    }
    .apprentice-requirment h4 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 34px;
    }    
    .hear-apprentice {
        padding: 55px 0 40px;
    }
    .hear-apprentice .video iframe {
        border: 0;
        height: 460px;
    }
    .hear-apprentice h2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 820px) { 
    .about-ibew-menu {
        margin-left: 67% !important;
    }
    .expertise-menu {
        margin-left: 52% !important;
    }
    .ibew-menu {
        max-width: 285px;
    }
    .become-member-menu {
        margin-left: 8% !important;
    }
    .services .services-journeyman .services-overlay {
        transform: translatey(69%);
    }
    .ibew-members .become-member .become-member-content {
        padding: 45px 6px 38px;
    }
    .ibew-members .become-member .become-apprentice {
        padding: 45px 0px 38px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 35%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 35%;
    }
    .services .services-journeyman .services-overlay span {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .services .services-journeyman .services-overlay p {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .services-journeyman .sm-btn {
            max-width: 121px;
            line-height: 26px;
            font-size: 15px;
    }
    .current-members .col-left h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    .Jatc-training .col-left h2 {
        line-height: 41px;
        font-size: 31px;
    }
    .Jatc-training .col-left {
        padding: 0 0 0 15px;
    }
    .Jatc-training .col-left {
        padding: 0 0 0 10px;
    }
    .become-member-join .col-right {
        padding: 46px 71px 45px 34px;
    }
    .apprentice-requirment ul {
        padding-left: 30px;
    }
}
@media (min-width:775px ) and (max-width:820px) {
    .services .services-journeyman .cw-ce {
        padding-bottom: 21px;
    } 
    .hear-apprentice .video iframe {
        border: 0;
        height: 393px;
    }
}

@media (max-width:767px) { 
    .ibew-members-bg {
        background: none;
    }
    header .top-nav {
        display: none;
    }
    header .main-nav {
        display: none;
    }
    .banner .col-right h1 {
        font-size: 49px;
        margin-bottom: 5px;
        line-height: 55px;
    }
    .banner .col-right {
        padding: 25px 18px 30px 15px;
        margin-left: 26px;
    }
    .services .services-journeyman .services-overlay span {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    .services .services-journeyman .services-overlay p {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .services-journeyman .sm-btn {
        max-width: 134px;
        line-height: 35px;
        font-size: 16px;
    }
    .contact-us .col-right {
        max-width: 100%;
    }
    .contact-us .col-right .form-control {
        max-width: 100%;
    }
    .text-area-contactus textarea {
        max-width: 100%;
    }
    .contact-us .col-left .contact-us-detail {
        max-width: 100%;
    }
    .services .services-journeyman .services-overlay {
        transform: translatey(62%);
    }
    .current-members .col-left {
        padding-left: 0px;
    }
    footer .footer-logo {
        margin-bottom: 60px;
    }
    .owl-theme .owl-dots .owl-dot {
        margin: 0 3px;
    }
    .current-members .col-right .member-login-ibew:hover .ibew-hov-arrow {
        margin-right: -10px;
    }
    .contact-us .col-left .contact-us-detail ul .location {
        max-width: 100%;
    }
    .contact-us .col-right .sm-btn {
        margin-right: auto;
        margin-left: 10px;
    }
    .modal-content {
        height: 464px;
        top: 10%;
    }
    .cs-iframe {
        height: 460px;
    }
    /*pay-dues subpage notice-dues */
    .pay-dues-banner .banner-content .title h1 {
      font-size: 40px;
    }
    .pay-dues-banner .banner-content .logo img {
        max-width: 203px;
    }
    /*pay-dues subpage notice-dues */
    /* journeyman job-calls banner h1 */
    .journeyman-job-call-banner .banner-content .title h1 {
        font-size: 38px;
        line-height: 44px;
    }
    /* journeyman job-calls banner h1 */
    /*subpage-banner  */
    .sp-banner .banner-content .title h1 {
        font-size: 38px;
        line-height: 44px;
    }  
    /*subpage-banner  */
    /* JOURNEYMAN-JOB-CALLS-INFORMATION */
    .journeyman-job-call-information {
        padding: 60px 0 70px;
    }
    .journeyman-job-call-information .main h2 {
        margin-bottom: 20px;
        font-size: 35px;
        line-height: 45px;
    }
     /* JOURNEYMAN-JOB-CALLS-INFORMATION */
    /* JOURNEYMAN-JOB-CALLS-ACCORDION */
     .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-item .accordion-body {
        padding: 35px 0 50px 15px;
    }
    /* JOURNEYMAN-JOB-CALLS-ACCORDION */
    .become-member-join .col-left h2 {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 15px;
    }
    .become-member-join .col-right {
        margin-top: 35px;
        padding: 38px 60px 45px 60px;
    }
    .become-member-join {
        overflow-x: hidden;
        padding: 50px 0 45px;
    }
    .become-member-best .col-left {
        margin: 10px 0 20px;
    }
    .become-member-best .col-left h3 {
        font-size: 34px;
    }
    .brotherhood-benefit h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    .become-member-join .col-left {
        margin-right: 0;
        max-width: 100%;
    }
    .Jatc-training .col-left {
        max-width: 100%;
        padding: 0 15px;
    }
    .Jatc-training .col-right {
        padding: 56px 20px 70px;
        margin-top: 30px;
    }
    .Jatc-training .col-left h2 {
        font-size: 30px;
    }
    .being-apprentice .col-left {
        max-width: 100%;
        margin: 0px 0 30px;
        padding: 0 15px;
    }
    .col-right iframe {
        height: 315px;
    }
    .apprentice-requirment ul li {
        margin-bottom: 25px;
    }
    .apprentice-requirment ul {
        padding-left: 19px;
    }
    .apprentice-requirment .col-right {
        padding: 0;
        margin-top: 15px;
    }
    .apprentice-requirment {
        padding: 40px 0 36px;
    }
    .hear-apprentice .video iframe {
        height: 393px;
    }
    .journeyman-industry h2 {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 15px;
    }
    .journeyman-industry {
        padding: 50px 0;
    }
    .being-journeyman .container h2:nth-child(1) {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 16px;
    }
    .being-journeyman .col-left p {
        padding-right: 0;
        margin-bottom: 22px;
    }
}


@media (max-width:645px) {
    .owl-theme .owl-dots .owl-dot {
        margin: 0 1px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 34%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 34%;
    }
    .modal-content {
        height: 420px;
        top: 12%;
    }
    .cs-iframe {
        height: 402px;
    }
    .Jatc-training .col-left h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .being-apprentice {
        margin-bottom: 40px;
    }
    .hear-apprentice .video iframe {
        height: 340px;
    }
    .hear-apprentice h2 {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .hear-apprentice {
        padding: 30px 0 35px;
    }
} 

@media (max-width:575px ) {
    .cs-iframe {
        height: 320px;
    }
    .modal-content {
        height: 325px;
        top: 12%;
    }
    .prev, .next {
        top: 56%;
        padding: 11px;
    }
    .banner {
        height: 661px;
    }
    .banner video {
        object-fit: cover;
        height: 661px;
        width: 100%;
    }
    .banner .col-right {
        margin: 0 auto !important;
    }
    .banner .col-left a img {
        max-width: 250px;
    }
    .banner .col-left {
        margin-bottom: 25px;
    }
    .banner .col-right {
        padding: 26px 41px 28px 15px;
    }
    .banner .col-right h1 {
        font-size: 36px;
        margin-bottom: 14px;
        line-height: 40px;
    }
    .services .services-journeyman .services-overlay {
        transform: translatey(0%);
        background: #002d62ad;
    }
    .services .services-journeyman .services-overlay::after {
        display: none;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 23%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 23%;
    }
    .contracting .col-right .title {
        font-weight: 900;
        font-size: 22px;
    }
    .owl-theme .owl-dots .owl-dot {
        margin: 0 0px;
    }
    .contracting .col-left h2 {
        font-size: 33px;
        line-height: 43px;
    }
    .current-member-login .current-member-detail h4 {
        font-weight: 700;
        font-size: 22px;
    }
    .footer-list {
        margin-bottom: 42px;
    }
    .footer-contact-us {
        margin: 4px 0 0px;
    }
    footer {
        padding: 50px 0 67px;
    }
    .current-members .col-right .member-login-ibew .ibew-hov-arrow {
        margin-right: -10px;
        max-width: 11px;
    }    
    .current-members .col-right .member-login-ibew:hover .ibew-hov-arrow {
        margin-right: -10px;
    }
    .current-member-login .current-member-detail p {
        padding-right: 8px;
    }
    /* contact-page */
    .contact-page-banner .banner-content .logo img {
        max-width: 197px;
    }
    .contact-page-banner .banner-content .title h1 {
        font-size: 54px;
    }  
    /* contact-page */
    /*pay-dues subpage notice-dues */
    .pay-dues-banner .banner-content {
        flex-direction: column;
    }
    .pay-dues-banner .banner-content .title h1 {  
        margin-left: 0;
        margin-top: 15px;
    }
    .pay-dues-banner .banner-content .logo img {
        max-width: 203px;
    }
    .pay-online .content h2 {
        font-size: 30px;
    }
    .notice-dues .content h2:first-child {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .notice-dues {
        padding: 50px 0px 70px;
    }
    .pay-online .container {
        padding: 40px 0 60px;
    }
      /*pay-dues subpage notice-dues */

    /* journeyman job-calls banner h1 */
    .journeyman-job-call-banner .banner-content {
        flex-direction: column;
    }
    .journeyman-job-call-banner .banner-content .title h1 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
    /* journeyman job-calls banner h1 */

    /*subpage-banner  */
    .sp-banner .banner-content {
        flex-direction: column;
    }
    .sp-banner .banner-content .title h1 {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }  
    .sp-banner .banner-content .logo img {
        max-width: 192px;
    }
    /*subpage-banner  */
    /* JOURNEYMAN-JOB-CALLS-ACCORDION */
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-item .accordion-body {
        padding: 35px 0 50px 15px;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-button {
        padding: 0 13px;
    }
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-button::after {
        width: 15px;
        height: 9px;
    }
    /* JOURNEYMAN-JOB-CALLS-ACCORDION */
    .become-member-join .col-left h2 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 14px;
    }
    .become-member-join .col-left p {
        margin-bottom: 10px;
    }
    .become-member-join .col-right {
        margin-top: 35px;
        padding: 35px 40px 35px 40px;
    }
    .become-member-best .col-left {
        margin: 0;
    }
    .become-member-best .col-right .iframe-vid {
        height: 353px;
    }
    .brotherhood-benefit h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }.become-member-best {
        margin-bottom: 25px;
    }
    .become-member-best .col-left h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .Jatc-training .col-right {
        padding: 56px 0px 70px;
        margin-top: 30px;
    }
    .Jatc-training .col-right span {
        padding: 0 10px;
    }
    .become-member-join .col-left h2 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 12px;
    }
    .being-apprentice .col-right iframe {
        height: 328px;
    }
    .being-apprentice .col-left h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .Jatc-training {
        padding: 45px 0 35px;
    } 
    .hear-apprentice .video iframe {
        height: 310px;
    }     
    .journeyman-industry p:nth-child(2) {
        margin-bottom: 15px;
    }  
    .journeyman-industry h2 {
        font-size: 28px;
        line-height: 32px;
    }
    .being-journeyman .container h2:nth-child(1) {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 17px;
    }
}

@media (max-width:500px ) {
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 19%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 19%;
    }
    .contracting .col-right .title {
        font-weight: 900;
        font-size: 20px;
    }
    .being-ibew h3 {
        font-size: 24px;
        line-height: 30px;
    }
    footer .footer-logo span a {
        font-size: 40px;
        margin-left: 28px;
        line-height: 65px;
    }
    .current-member-login .current-member-detail p {
        padding-right: 15px;
    }.become-member-best .col-right .iframe-vid {
        height: 326px;
    }
      /* contact-page */
    .contact-page-banner .banner-content .logo img {
        max-width: 197px;
    }
    .contact-page-banner .banner-content .title h1 {
        font-size: 45px;
    }
    .become-member-join .col-right {
        margin-top: 30px;
        padding: 30px 20px;
    }
    /* contact-page */
    .become-member-best {
        margin-bottom: 10px;
    }
    .brotherhood-benefit h2 {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 25px;
    }
    .being-apprentice .col-right iframe {
        height: 286px;
    }
    .being-apprentice {
        margin-bottom: 30px;
    }
    .hear-apprentice .video iframe {
        height: 289px;
    }
    .hear-apprentice h2 {
      margin-bottom: 10px;
    }
}

@media (max-width:440px ) {
    .modal-content {
        height: 290px;
        top: 15%;
    }
    .cs-iframe {
        height: 281px;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 13%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 13%;
    }
    /* contact-page */
    .contact-page-banner .banner-content .logo img {
        max-width: 154px;
    }
    /* contact-page */
    /* JOURNEYMAN-JOB-CALLS-INFORMATION */
    .journeyman-job-call-information {
        padding: 60px 0 70px;
    }
    .journeyman-job-call-information .main h2 {
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 32px;
    }
     /* JOURNEYMAN-JOB-CALLS-INFORMATION */

    /* JOURNEYMAN-JOB-CALLS-ACCORDION */
    .journeyman-job-calls-accordion .journeyman-call-accordion .accordion-body .first-accordion-Dec h4 {
        font-size: 20px;
    }
    /* JOURNEYMAN-JOB-CALLS-ACCORDION */
    .brotherhood-benefit ul {
        padding-left: 20px;
    }
    .brotherhood-benefit .col-right {
        padding: 10px 0px 0px 9px;
    }
    .sp-banner .banner-content .title h1 {
        font-size: 36px;
    }
    .being-apprentice .col-right iframe {
        height: 257px;
    }
    .hear-apprentice .video iframe {
        height: 257px;
    }
}

@media (max-width:380px ) {
    .being-ibew-content .owl-carousel .owl-nav button.owl-next {
        right: 6%;
    }
    .being-ibew-content .owl-carousel .owl-nav button.owl-prev {
        left: 6%;
    }
    .banner .col-left a img {
        max-width: 192px;
    }
    .banner .col-right {
        padding: 26px 41px 23px 19px;
    }
    .services .services-journeyman img {
        height: 434px;
    }
    .services .services-journeyman .services-overlay span {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .services .services-journeyman .services-overlay p {
        margin-bottom: 22px;
        padding: 0 5px;
    }
    .services .services-journeyman .cw-ce {
        padding-bottom: 0px;
    } 
    .services-journeyman .sm-btn {
        max-width: 151px;
        line-height: 40px;
    }
    .ibew-members-bg {
        padding: 34px 0 31px 0;
    }
    .ibew-members .become-member .become-member-content {
        padding: 39px 20px 38px;
    }
    .become-member .become-member-content h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .ibew-members .become-member .become-apprentice {
        padding: 29px 22px 30px;
    }
    .become-member .sm-btn {
        max-width: 153px;
    }
    .become-member .become-apprentice h2 {
        margin-bottom: 9px;
        font-size: 28px;
        line-height: 30px;
    }
    .being-ibew {
        padding: 54px 0 70px;
    }
    .current-members .col-left h2 {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .current-members .col-left p {
        margin-bottom: 31px;
        padding-right: 3px;
    }
    .current-members .col-right .member-login-ibew .ibew-hov-arrow {
        display: none;
    }
    .current-members .col-right a > img {
        max-width: 46px;
    }
    .current-members .col-right .job-calls > img {
        max-width: 49px;
        margin-left: -6px;
    }
    .current-member-login {
        margin-left: 23px;
    }
    .current-member-login .current-member-detail h4 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 7px;
    }
    .current-member-login .current-member-detail p {
        padding-right: 11px;
    }
    .current-members .col-right .pay-dues {
        padding-right: 27px;
    }
    .current-members .col-right .member-login-ibew {
        padding: 35px 26px 35px 23px;
    }
    .contracting .col-left {
        padding: 39px 15px 31px 15px;
    }
    .contracting .col-left h2 {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .contracting .col-left p:nth-child(2) {
        margin-bottom: 21px;
    }
    .contracting .col-right .title {
        font-size: 18px;
        line-height: 28px;
        bottom: 10px;
    }
    .contracting .col-right .title br {
        display: none;
    }
    .contact-us {
        padding: 50px 0 93px;
    }
    .contact-us .col-left h2 {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 15px;
    }
    .contact-us .col-left p {
        margin-bottom: 29px;
    }
    .contact-us .col-right .sm-btn {
        margin-top: 48px;
    }
    footer .footer-logo a img {
        max-width: 81px;
    }
    footer .footer-logo {
        margin-bottom: 47px;
    }
    footer .footer-logo span a {
        font-size: 40px;
        margin-left: 22px;
        line-height: 65px;
    }
    .copyright {
        padding: 25px 23px 20px;
    }
    .current-member-login .current-member-detail p {
        position: relative;
    }
    .current-member-login .current-member-detail p::after {
        content: " ";
        position: absolute;
        background-image: url(../images/cm-icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 7px;
        margin-left: 10px;
        width: 10px;
        height: 10px;
    }
    /* contact-page */
    .contact-page-banner .banner-content .logo img {
            max-width: 154px;
    }
    .contact-page-banner .banner-content {
           flex-direction: column;
    }
    .contact-page-banner .banner-content .title h1 {
        font-size: 36px;
        margin-top: 10px;
        margin-left: 0;
    }
    /* contact-page */

    /*pay-dues subpage notice-dues */
    .pay-dues-banner .banner-content {
        flex-direction: column;
    }
    .pay-dues-banner .banner-content .title h1 {  
        margin-left: 0;
        margin-top: 15px;
        font-size: 36px;
    }
    .pay-dues-banner .banner-content .logo img {
        max-width: 192px;
    }
    .pay-online .content h2 {
        font-size: 28px;
      }
      .notice-dues .content h2:first-child {
        font-size: 28px;
        margin-bottom: 25px;
    }
    /*pay-dues subpage notice-dues */
    .become-member-best .col-right .iframe-vid {
        height: 215px;
    }
    .Jatc-training .col-right {
        padding: 39px 0px;
        margin-top: 25px;
    }
    .being-apprentice .col-right iframe {
        height: 224px;
    }    
    .being-apprentice .col-left {
        margin: 0px 0 10px;
    }
    .hear-apprentice .video iframe {
        height: 211px;
    }
    .hear-apprentice h2 {
        margin-bottom: 10px;
        line-height: 34px;
    }
    .hear-apprentice {
        padding: 30px 0;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000db;
  }

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }


  